html,
body {
  background-color: #1b1c1d !important;
}

.input:focus {
  outline: none;
}

.ui.small.input input {
  background-color: #2d3436 !important;
  color: #ead9b4 !important;
  box-shadow: none;
  border: none;
}

.ace_content,
.ace_gutter-cell,
.ace_gutter {
  background-color: #1e272e !important;
}

.ui.card {
  background-color: #202124 !important;
  border-radius: 0 !important;
  box-shadow: none;
  margin-bottom: 1px !important;
  margin-top: 0px !important;
  border-bottom: 1px solid #485460;
  cursor: pointer;
}

.ui.card:hover {
  -webkit-box-shadow: -8px -2px 5px -7px rgba(172, 174, 55, 1);
  -moz-box-shadow: -8px -2px 5px -7px rgba(172, 174, 55, 1);
  box-shadow: -8px -2px 5px -7px rgba(172, 174, 55, 1);
  background-color: #1e272e !important;
}

.ui.card .content .header,
.ui.card .content .description,
.item,
.button {
  color: #ead9b4 !important;
}

.ui.card .content .meta .date {
  color: #506949 !important;
}

.ui.label {
  background-color: #2d3436 !important;
}

.ui.label {
  color: #acae37 !important;
}

.ui.blue.label {
  background-color: #ead9b4 !important;
  color: #506949 !important;
}

.ui.teal.label {
  background-color: #506949 !important;
  color: #ead9b4 !important;
}
